html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
}

.panel-heading {
    font-size: 20px;
    font-family: BrandonGrotesque-Bold;
}

.assignment-metadata {
    font-size: 14px;
    font-family: BrandonGrotesque-Regular;
    float: right;
    padding-top: 6px;
}


.header {
    padding: 1em;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
}

ol li {
    font-size: 17px;
}

#toolbar {
    text-align: center;
}

#authorize-div {
    text-align: center;
}

#output, #document {
    width: 8.5in;
    margin: 0 auto;
}
#result {
    max-width: 1024px;
    margin: 60px auto 60px auto;
}
