html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
}

.header {
    padding: 1em;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
}

ol li {
    font-size: 17px;
}

/* assignment panel */
.panel-heading {
    padding-top: 16px;
    font-size: 20px;
    font-family: BrandonGrotesque-Bold;
}

.panel-footer {
    padding-top: 20px;
}

.assignment-metadata {
    font-size: 14px;
    font-family: BrandonGrotesque-Regular;
    float: right;
    padding-top: 6px;
}

div#submission-wrapper {
    max-width: 1024px;
    margin-bottom: 2em;
    display: none;
}
button#delete-submission {
    margin-top: 0px;
}
div#error {
    color: tomato;
    display: none;
}
div#sandbox {
    display: none;
}

div#authorize {
    text-align: center;
}
